<html>
<head>
  <style>
	*{
		margin:5 auto;
		padding:0;
    }
    body{ 
      font-size: 15pt;
      font-family: arial;
    }

	ul{
	  margin:10 auto;
      list-style-type:none;
      text-align:center;
      font-size:15pt;
    }

   li{
      display:inline-block;
      width:80px;
      padding:10px;
      background-color:#6495ED;
    }
	a:link,a:visited,a:hover,a:active{
            color:#fff;
            text-decoration:none;
    }
	a{
      display:block;/*整体变为可点击区域，而不只是字*/
    }

	
  </style>
 
</head>

<body>

  <h1 align="center">Music Share: Home</h1>
<!-- 导航栏 -->
<ul>
<li><a href="/">Home</a></li>
<li><a href="/albums">Albums</a></li>
<li><a href="/artists">Artists</a></li>
<li><a href="/records">Records</a></li>
<li><a href="/reviews">Reviews</a></li>
<li><a href="/users">Users</a></li>
<li><a href="/toplist">Toplist</a></li>
<li><a href="/myshare">Myshare</a></li>
</ul>
<p align="center">Welcome Dear {{NameData}}</p>
<form method="POST" action="/logoff">
<p align="center">Log off Here <input type="submit" value="Logoff"></p>
</form>

<form method="POST" action="/update">
<p align="center">You can update your personal infomation here.</p>
<p align="center">Update: Name:<input type="text" name="Name"> Password:<input type="text" name="Password"> 
		Gender:<select name="Gender"><option value="Male">Male</option><option value="Female">Female</option>
		</select> 
		<input type="submit" value="Update"></p>
</form>



<p align="center"><img src="../static/images/music_1.jpg"  alt="MusicShare"/></p>


</body>


</html>
